/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/
/*.obdelnik {
    width: 300px;
    height: 200px;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

body {
    background-color: #31363b;
    box-sizing: auto;
    width: 250px;
    margin: auto 0 0 0;
    box-shadow: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
/*
.hlavicka {
    background-image: url(foto.jpg);
    width: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
*/

.hlavicka {
    
}

.foto {
    width: 250px;
    height: auto;
    position: relative;
    opacity: 99%;
    }

.h1 {
    font-family: 'Montserrat', sans-serif;
}

.jmeno {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.p {
    font-family: 'Source Sans Pro', sans-serif;
}

.odkazy {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-top: solid whitesmoke 0.05rem;
    border-bottom: solid  whitesmoke 0.05rem;
    }

 .portfolio {
    display: block;
    border-bottom: inherit;
}   

.logo {
    background-color: #b92e81;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 70px;
    
    
}

.obsah {
    background-color: #31363b;
    color: whitesmoke;
    font-family:'Source Sans Pro';
    padding: 1rem;
    font-size: 1rem;
    
    }

.facebook,
.twitter {
    display: inline-block;
    color: whitesmoke;
    border-left: solid  whitesmoke 0.05rem;
    }

.facebook a:hover,
.facebook a:focus,
.facebook a:active {
    background-color: #3b5998;
}

