/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #31363b;
    width: 250px;
    margin: auto 0 0 0;
    box-shadow: whitesmoke;
    }
/*
.hlavicka {
    background-image: url(foto.jpg);
    width: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
*/
.hlavicka {
    position: relative;
}

.foto {
    width: 250px;
    height: auto;
    }

.h1 {
    font-family: 'Montserrat', sans-serif;
    
}

.jmeno {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.p {
    font-family: 'Source Sans Pro', sans-serif;
}

.odkazy {
    font-family: 'Montserrat', sans-serif;
    }

 .portfolio {
    text-align: center;
    display: block;
    border-top: solid whitesmoke 0.05rem;
    border-bottom: solid  whitesmoke 0.05rem;
     }   

.logo {
    background-color: #b92e81;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    bottom: -150;
    }

.obsah {
    background-color: #31363b;
    color: whitesmoke;
    font-family:'Source Sans Pro';
    padding: 1rem;
    font-size: 1rem
}

.facebook,
.twitter {
    display: inline-block;
    color: whitesmoke;
    border-top: solid whitesmoke 0.05rem;
    border-bottom: solid  whitesmoke 0.05rem;
    text-align: center;
}

.facebook a:hover,
.facebook a:focus,
.facebook a:active {
    background-color: #3b5998;
}

/*
.logo {
    position: absolute;
    left: 150px;
    top: 150;
    width: 150px;
    height: 60px;
}


